.dashboard-layout {
  min-height: 100vh;
  position: relative;
}

.dashboard-sidebar {
  width: 280px;
  background-color: #082f4d;
  color: white;
  transition: all 0.3s ease;
}

.dashboard-sidebar.collapsed {
  width: 0;
  overflow: hidden;
  padding: 0;
}

.toggle-open-btn {
  position: fixed;
  top: 80px;
  left: 15px;
  z-index: 1020;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.dashboard-content{
  margin-left: 25px;
}
